<div>
  <project-one-child
    [surnameProps]="surname"
    [adress]="adress"
    (sendGradeEvent)="getGrade($event)"
  ></project-one-child>
  <div *ngFor="let el of grades; index as i; count as count; even as even">
    {{ i }}:{{ el }} count: {{ count }} even: {{ even }}
  </div>
  -------------------------
  <div *ngIf="isLoading; else elseBlock">
    <h3>Loading...</h3>
  </div>
  <ng-template #elseBlock>
    <div *ngFor="let lesson of lessonExample">
      <div>
        <div>{{ lesson.title }}</div>
        <div *ngFor="let grade of lesson.weekGrades">{{ grade.gradeItem }}</div>
      </div>
    </div>
  </ng-template>
  -------------------------
  <div *ngFor="let fruit of fruits; odd as odd">
    <ng-container *ngIf="fruit.price > 7">
      <div [ngClass]="{error: odd, success: !odd, default: fruit.price > 15}">
        {{ fruit.name }} - {{ fruit.price }}
      </div>
    </ng-container>
  </div>
  -------------------------
  <div>
    {{ fruits | json }}
  </div>
</div>
