<br />
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div>
    <input type="text" formControlName="email" required />
    <!-- styles (.ng-valid/.ng-pristine...) from global file styless.scss-->
  </div>
  <div *ngIf="email!.invalid && (email!.dirty || email!.touched)" class="error">
    <div *ngIf="email!.errors?.['required']">email required</div>
    <div *ngIf="email!.errors?.['pattern']">email incorrect</div>
  </div>
  <div><input type="password" formControlName="password" /></div>
  <button [disabled]="loginForm.invalid" type="submit">send</button>
</form>
